<h2>pong</h2>
<div class="container-fluid">
    <div class="container-fluid">
        <btn class="btn btn-primary" id="trainBtn">Train</btn>
        <br><br>
        <btn class="btn btn-primary" id="playBtn">Play</btn>
    </div>
    <div id="myDiv"></div>
</div>


<script src="../public/js/main.js" type="module"></script>